@import '../styles/settings';
.Nav{
    &__button{
        height: 40px;
    }
    &__input{
        height: 40px;
        color: $neutral-300;
        input::placeholder{
            color: $neutral-300;
        }
    }
    &__search{
        width: 100%;
    }
    &__container{
        background-color: $primary !important;
        padding-top: 0.5rem;
    }
    &__logo{
        height: 39px;
        top: 11px;
        width: 59px;
        margin-right: 2rem;
    }
    &__container-search{
        background-color: $neutral-100;
        height: 95vh;
    }
}
.Breadcrumb{
    &__nav{
        color: $neutral-200;
        padding-top: 16px;
    }
}
.main-layout{
    background-color: $neutral-100;
    min-height: 100vh;
}

