@import './src/styles/settings';
.ItemSearch{
  &__img{
    height: 180px;
    width: 180px;
    border-radius: 4px;
  }
  &__description{
    padding-left: 16px;
  }
  &__pr{
    padding-right: 0!important;
  }
  &__currency{
    font-size: 24px;
    color: #333333;
    margin-right: 16px;
  }
  &__paragraph{
    margin-top: 32px;
    color: $neutral-300;
    font-size: 18px;
  }
  &__location{
    font-size: 12px;
    color: $neutral-200;
    text-align: center;
    margin-top: 8px;
  }
  &__container{
    padding: 16px;
    border-bottom: 1px solid $neutral-100;
    &:last-child{
        border-bottom: unset;
    }
  }
}
