@import './src/styles/settings';

.DetailProduct{
  &__container{
    background-color: white;
    padding: 32px;
  }
  &__span{
    &-new{
      color: $neutral-300;
      font-size: 14px;
    }
    &-currency{
      color: $neutral-400;
      font-size: 46px;
    }
  }
  &__title{
    font-size: 24px;
    color: $neutral-400;
    font-weight: bold;
  }
  &__row{
    padding: 16px 0;
    &__btn{
      padding-right: 32px;
    }
    &-description{
      padding: 32px;
    }
  }
  &__image{
    width: 680px;
    max-height: 680px;
  }
  &__btn{
    margin-right: 32px;
    background-color: $info-400;
  }
  &__h6{
    color: $neutral-400;
    font-size: 28px;
    margin-bottom: 16px;
  }
  &__p{
    color: $neutral-300;
    font-size: 16px;
    padding: 0 0 16px 0;
  }
}
